html{
    font-family: Helvetica, Arial,sans-serif;
}
h1{
    text-align: center;
    margin: auto;
}
#options-container{
    display: flex;
    justify-content: center;
}
button{
    outline: none;
    border: 2px solid #313131;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    min-width: 6rem;
    height: 2rem;
    display: block;
    margin: .7rem;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .2s;
}
#btn-new:hover{background-color:rgb(162, 168, 255);}
#btn-clear:hover{background-color:rgb(255, 183, 149);}
#btn-dark:hover{
    background-color: rgb(31, 30, 41);
    color:rgb(255, 252, 228);
}
#btn-gray:hover{background-color: rgb(161, 161, 161);}
#btn-random:hover{background-color: rgb(102, 255, 115);}
#grid-container{
    display: grid;
    max-width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.grid-item{
    border: 1px solid black;
    background-color: white;
}
.dark{
    color: rgb(255, 252, 228);
    background-color: rgb(31, 30, 41);
    transition: background 0.2s linear;
}